@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Sen:wght@400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Sen", sans-serif;
  @apply bg-slate-200;
}

nav ul li:hover {
  @apply text-yellow-700 transition-all;
}

nav ul a.active {
  @apply text-yellow-600 font-semibold;
}

.background-gradient-image {
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(./assets//img/taxi-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#registerContainer a.active {
  @apply bg-gray-900 rounded text-yellow-500 font-semibold;
}

.login-background-gradient-image {
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(./assets/img/taxi-login-page-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
